@import '../../../styles/variables.scss';

.footerContainer {
	background-color: $color-4;
	.footer {
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: space-between;
		padding: 3em 0 3em 0;

		div {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: start;
			gap: 1.5em;

			a {
				color: #ff0000;
				text-decoration: none;
				cursor: pointer;
			}

			a:hover {
				color: #000;
			}

			svg {
				width: 10px;
				height: auto;
			}

			p {
				color: #4e4e4e;
				font-size: 0.75rem;
				line-height: 1.05rem;
			}
		}

		div:last-child {
			align-items: end;
		}
	}
}

.nombre {
	color: $color-4;
}

@media (max-width: 640px) {
	.footer {
		.content {
			gap: 1.5em;
		}
	}
}

@media (max-width: 475px) {
	.footer {
		align-items: center;
		justify-self: center;
		flex-direction: column;
		gap: 1.5em;

		.content {
			max-width: 100%;
			span {
				width: 100%;
				text-align: center;
			}
		}
		.content:first-child {
			.socialMedia {
				width: 100%;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media (max-width: 640px) {
	.footerContainer {
		.footer {
			flex-direction: column;
			gap: 1em;

			div {
				width: 100%;
				align-items: start;
				gap: 1em;
			}
			div:last-child {
				align-items: start;
			}
		}
	}
}
